@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(32,33,36);
  font-size: 18px;
}

a {
  color: rgb(52 211 153);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
